.container{
    background-color: rgb(32, 173, 79);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.logo{
    color: rgb(7, 7, 7);
    display: flex;
    justify-content: space-between;
    margin: 0% 1rem;
}

body{
    margin: 0%;
    
}
.icon{
   margin-right: 30px;

}