.container{
    background-color: rgb(71, 71, 75);
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;


}

.logo{
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 30px;
    
}
.logo h3:hover{
    opacity: 0.10;
}


body{
    margin: 0px;

}
.icon{
    justify-content: space-between;
    margin: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    

}

.icon:hover{
    opacity: 0.10;
}


.header{
    width: 50%;
    background-color: rgb(33, 26, 41);
    justify-content:center;
    border-radius: 15px;
    height: 350px;
    margin: 7px;


}
.shar{

   text-align: center;
   color: aliceblue;
    
}

.container2{
    background-color: rgb(33, 26, 41);
    display: flex;
    border-radius: 15px;
    height: 350px;
    width: 50%;
    margin: 7px;
    justify-content: center;
}

.share{
    text-align: center;
    color: aliceblue;
}


.cnt_pai{
    display: flex;
    text-align: center;

}


.container3{
    width:auto;
    background-color:rgb(33, 26, 41);
    height: 480px;
    border-radius: 15px;
    justify-content:space-around;
    margin: 7px;
}

.shaar{ 
 text-align: center;
 color: aliceblue;

}

html,body{height: 100%;}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.sidebar{
    width: 15%;
    background-color: rgb(255, 255, 255);
    height: 100%;

}
.sidebar h3{
    color:rgb(21, 22, 22);
    margin-left: 5px;
    margin: 10px;
}

.sidebar a  {

    display: block;
    padding: 10px 15px;
    text-decoration: none; 
    margin-top: 10px;
    color: rgb(58, 57, 57);
}
.content{
    width: 85%;
    background-color: rgb(71, 71, 75);
    
}
.sidebar a.sidebaractive{
    border-left: 3px solid #2b2525;
    background-color: #afa6a6;
    color: #2b2525;
    font-weight: bold;

}
.sidebar a:hover{
    border-left: 3px solid #2b2525;
    background-color: #afa6a6;
    color: #2b2525;
    font-weight: bold;


}
.titulo{

    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    color: darkgreen;
}

.box-info{
    width: 100%;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;

}


.box-single{
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgb(190, 172, 172);
    display: flex;
    padding: 20px;
    margin: 0 10px;
    width: 100%;
    align-items: center;

    
    
}
.titulo2{
    width: 100%;
    margin-top: 20px;
    display:flex;
    justify-content: space-around;
    
 
}
.boxmajor{
    border-radius: 10px;
    justify-content: space-around;
    background-color: rgb(190, 172, 172);
    display: flex;
    margin:auto;
    padding: 20%;
}


.titulowhat{
padding: 15px;
justify-content: space-around;

}
.textaline{
    color: #2b2525;
    text-decoration: none;

}

.textaline:hover{
    opacity: 0.20;

}