.container{
    background-color: #202c33;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;


}

.logo{
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 30px;
    
}
.logo h3:hover{
    opacity: 0.10;
}


body{
    margin: 0;

}
.icon{
    justify-content: space-between;
    margin: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    

}

.icon:hover{
    opacity: 0.10;
}



html,body{height: 100%;}

.main{
    display: flex;
    flex-wrap: wrap;
}

.sidebar{
    width: 15%;
    background-color: rgb(255, 255, 255);


}
.sidebar h3{
    color:rgb(21, 22, 22);
    margin-left: 5px;
    margin: 10px;
}

.sidebar a  {

    display: block;
    padding: 10px 15px;
    text-decoration: none; 
    margin-top: 10px;
    color: rgb(58, 57, 57);
}
.content{
    width: 85%;
    background-color: #202c33;
    
}
.sidebar a.sidebaractive{
    border-left: 3px solid #2b2525;
    background-color: #afa6a6;
    color: #2b2525;
    font-weight: bold;

}
.sidebar a:hover{
    border-left: 3px solid #2b2525;
    background-color: #afa6a6;
    color: #2b2525;
    font-weight: bold;


}
.titulo{

    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
    color: darkgreen;
    
}

.box-info{
    width: 100%;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    margin: 1 auto;
}


.box-single{
    border-radius: 10px;
    justify-content: space-around;
    background-color: rgb(190, 172, 172);
    display: flex;
    padding: 10px;
    margin: 0 15px;
    width: 100%;
    align-items: center;

    
    
}
.titulo2{
    width: 100%;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    
 
}
.boxmajor{
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgb(190, 172, 172);
    display: flex;
    padding: 10%;
    align-items: flex-start;
    height: 150px;
}


.titulowhat{
padding: 15px;
justify-content: space-around;



}
.textaline{
    color: #2b2525;
    text-decoration: none;
    transition: 0.9s;

}

.textaline:hover{
    opacity: 0.20;

}
.textmajor h1{
    color: rgb(0, 0, 0);
    transition: 0.9s;
    margin-left: 2px;

}
footer h4{
    background-color: #202c33 ;
    color: #afa6a6;
    text-align: center;
    padding: 20px;

}